.hero-section {
  /* Set the background image */
  background-image: url("../img/bg2.jpg");
  /* Adjust background properties for better visibility of text */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set the height of the hero section */
  min-height: 100vh;
  /* Center the content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  /* Style the text as needed */
  color: rgb(255, 97, 18);
  font-size: 58px;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; /* Center the text horizontally within the div */
}

.contact-us-header {
  font-weight: 600;
  font-family: Chapaza;
}

.contact-us-text {
  font-weight: 400px;
  font-family: Chapaza;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-map {
  border-radius: 30px !important;
  width: 100%;
  height: 350px;
}

.web-contant {
  background-color: rgb(242, 236, 224);
}

p{
    font-family: 'Courier New', Courier, monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-brand {
    font-size: 22px !important;
  }

  .gallery {
    padding: 50px 0px 0px 0px;
  }

  .carousel-inner {
    width: 100%;
    height: 300px !important;
    border-radius: 10px;
  }

  .footer-map {
    border-radius: 30px !important;
    width: 100%;
    height: 180px;
    padding-bottom: 20px;
  }

  .hero-text {
    /* Style the text as needed */
    color: rgb(255, 97, 18);
    font-size: 22px !important;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; /* Center the text horizontally within the div */
  }
}
